/*
Description: About us Css styles
Developer: Marc bou sleiman
*/
.aboutUsPage {
    position: relative;

    &:before {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background-color: $lightGrey2;
        z-index: 1;
    }

    .innerPage {
        padding: 80px 0;
        position: relative;
        z-index: 5;

        .leftSection {
            .innerLeftSection {
                width: 100%;
                max-width: 500px;

                .identifier {
                    position: relative;
                    margin: 0 0 30px 0;

                    h1 {
                        font-size: 36px;
                        line-height: 36px;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }

                .content {
                    line-height: 25px;
                    font-size: 16px;
                    color: $black2;
                    font-family: $fontFamilyMedium;

                    p {
                        margin: 0 0 10px 0;

                        &:nth-last-child(1) {
                            margin: 0;
                        }
                    }

                    .strong{
                        font-family: $fontFamilyBold;
                    }
                }
            }
        }

        .rightSection {
            text-align: right;

            .swiper-container {
                width: 100%;

                .swiper-slide {
                    img {
                        width: 90%;
                        height: auto;
                    }
                }
            }

            .aboutUsSliderPag {
                position: absolute;
                bottom: 40px;
                z-index: 10;
                left: 0;
                right: 0;
                margin: 0 auto;

                .swiper-pagination-bullet {
                    background: $white;
                    opacity: 0.5;
                    margin: 0 5px 0 0;

                    &.swiper-pagination-bullet-active {
                        background: $yellow;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
