/*
Description: Artists Css styles
Developer: Marc bou sleiman
*/
.artistsPage {
    .artistsSection {
        .categoriesWrapper {
            margin: 30px 0 50px 0;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                text-align: center;

                li {
                    display: inline-block;
                    margin: 0 20px;

                    a {
                        font-size: 15px;
                        font-family: $fontFamilySemi;
                        display: block;
                        color: $black2;
                        letter-spacing: 2.5px;
                        text-transform: uppercase;
                        @extend %transition-all-zeroFive-sec;
                    }

                    &.active {
                        a {
                            padding: 0 0 8px 0;
                            border-bottom: 1px solid $black2;
                        }
                    }

                    &:not(.active) {
                        a {
                            &:hover {
                                color: $yellow;
                                @extend %transition-all-zeroFive-sec;
                            }
                        }
                    }
                }
            }
        }

        .artistsWrapper {
            padding: 0 0 20px 0;

            .eachArtistWrap {
                text-align: center;
                margin: 0 0 40px 0;

                .imageHolder {
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: auto;
                        @extend %transition-all-zeroFive-sec;
                    }
                }

                &:hover {
                    .imageHolder {
                        img {
                            transform: scale(1.1);
                            @extend %transition-all-zeroFive-sec;
                        }
                    }
                }

                h3 {
                    font-size: 20px;
                    font-family: $fontFamilyRegular;
                    margin: 15px 0 10px 0;
                    color: $black2;
                }

                h4 {
                    font-size: 17px;
                    margin: 0;
                    color: $black2;
                }
            }
        }
    }

    &.whatsOnPage{
        .artistsSection{
            .artistsWrapper {
                padding: 65px 0 20px 0;

                .eachArtistWrap{
                    h3{
                        font-family: $fontFamilyRegular;
                        margin: 15px 0 6px 0;
                    }

                    a.facebookTrigger{
                        font-size: 14px;
                        font-family: $fontFamilyBold;
                        letter-spacing: 2.5px;
                        display: block;
                        margin: 15px 0 0 0;
                        color: $black2;
                        opacity: 0;
                        @extend %transition-all-zeroFive-sec;
                    }

                    &:hover{
                        a.facebookTrigger{
                            opacity: 1;
                            @extend %transition-all-zeroFive-sec;
                        }
                    }
                }
            }
        }
    }
}
