/*
Description: Checkout us Css styles
Developer: Marc bou sleiman
*/
.checkoutPage{
    .pageIdentifier{
        display: flex;
        justify-content: space-between;
        padding: 20px 50px;
        align-items: center;

        .subColumn{
            width: calc(100% / 3);

            &.leftSection{
                text-align: left;

                a{
                    display: block;

                    img{
                        max-width: 140px;
                    }
                }
            }

            &.middleSection{
                text-align: center;
            }

            &.rightSection{
                text-align: right;

                h3{
                    font-size: 15px;
                    color: #707070;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    font-family: $fontFamilySemi;
                }
            }
        }
    }

    &.myBagPage {
        .contentSection {
            padding: 50px 0 35px 0;

            .leftSection{
                .blocksHolder{
                    .innerBlock{
                        background-color: #F8F8F8;
                        margin: 0 0 20px 0;

                        &:nth-last-child(1){
                            margin: 0;
                        }

                        .blockTitle{
                            color: #1A171E;
                            font-size: 25px;
                            margin: 0;
                            cursor: pointer;
                            padding: 20px 20px;
                        }

                        .blockSubTitle{
                            color: #1A171E;
                            font-size: 20px;
                            width: 100%;
                            max-width: 460px;
                            margin: 0 0 20px 0;
                        }

                        &.active{
                            background-color: transparent;

                            .blockTitle{
                                padding: 20px 0;
                            }
                        }

                        .blockBody{
                            background-color: #fff;

                            .formHolder{
                                form{
                                    display: flex;
                                    flex-wrap: wrap;
                                    -ms-flex-wrap: wrap;

                                    .fieldWrapper{
                                        margin: 0 0 20px 0;
                                        width: 100%;
                                        text-align: left;

                                        &.halfed{
                                            width: calc(100% / 2 - 15px);

                                            &.first{
                                                margin: 0 15px 20px 0;
                                            }

                                            &.second{
                                                margin: 0 0 20px 15px;
                                            }
                                        }

                                        label {
                                            font-size: 16px;
                                            font-family: $fontFamilyMedium;
                                            margin: 0 0 8px 0;
                                            color: $black2;
                                        }

                                        input,
                                        textarea {
                                            height: 50px;
                                            border: 1px solid #d1d1d1;
                                            padding: 0 10px;
                                            color: $black2;
                                            width: 100%;
                                        }

                                        textarea {
                                            height: auto;
                                        }

                                        &.submitWrapper {
                                            input {
                                                background-color: $black2;
                                                color: $white;
                                                font-family: $fontFamilyBold;
                                                letter-spacing: 2.5px;
                                                height: 55px;
                                            }
                                        }
                                    }
                                }
                            }

                            .addressesHolder {
                                .eachAddressWrap {
                                    display: flex;
                                    flex-wrap: wrap;
                                    justify-content: space-between;
                                    padding: 20px 0 20px 0;
                                    margin: 0;

                                    .addressInfo {
                                        max-width: 50%;
                                        flex: 0 0 50%;
                                        display: flex;
                                        flex-wrap: wrap;

                                        .circle {
                                            width: 22px;
                                            height: 22px;
                                            border-radius: 100%;
                                            border: 1px solid #707070;
                                            position: relative;

                                            &.active {
                                                &:after {
                                                    content: "";
                                                    position: absolute;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    left: 0;
                                                    right: 0;
                                                    width: 16px;
                                                    height: 16px;
                                                    background-color: $yellow;
                                                    border-radius: 100%;
                                                    margin: 0 auto;
                                                }
                                            }
                                        }

                                        .detailsHolder {
                                            width: 100%;
                                            max-width: 190px;
                                            padding: 0 0 0 18px;

                                            h4 {
                                                color: $black2;
                                                font-size: 16px;
                                                margin: 0 0 5px 0;

                                                &:nth-last-child(1) {
                                                    margin: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.shippingMethod{
                            .blockBody{
                                .addressesHolder {
                                    .eachAddressWrap {
                                        .addressInfo {
                                            max-width: 100%;
                                            flex: 0 0 100%;
                                            
                                            .detailsHolder{
                                                max-width: calc(100% - 30px);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        &.paymentMethod{
                            .blockBody{
                                .addressesHolder {
                                    .eachAddressWrap {
                                        .addressInfo {
                                            max-width: 100%;
                                            flex: 0 0 100%;
                                            
                                            .detailsHolder{
                                                max-width: calc(100% - 30px);
                                                display: flex;
                                                justify-content: space-between;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .rightSection{
                .innerRightSection{
                    .sectionTitle{
                        margin: 0 0 20px 0;
                    }

                    .productsHolder{
                        border-bottom: 1px solid #989898;
                        margin: 0 0 20px 0;

                        .horizontalPoductWrap{
                            border: none;
                            padding: 0 0 20px 0;
                            margin: 0;

                            .imageHolder{
                                width: 84px;
                                flex: 0 0 84px;
                            }

                            .descHolder{
                                width: calc(100% - 129px);
                                flex: 0 0 calc(100% - 129px);
                                padding: 0 15px;

                                .productName{
                                    font-size: 15px;
                                }

                                .moreInfo{
                                    font-size: 13px; 
                                }
                            }

                            .priceHolder{
                                width: 45px;
                                flex: 0 0 45px;
                                padding: 0;
                            }
                        }
                    }

                    .separatedInnerContent{
                        h4{
                            .infoMark{
                                width: 18px;
                                height: 18px;
                                line-height: 18px;
                                border-radius: 100%;
                                margin: 0 0 0 8px;
                                color: #000000;
                                font-size: 12px;
                                background-color: #DDDDDD;
                                display: inline-block;
                                text-align: center;
                            }
                        }

                        &.shippingInfo{
                            position: relative;
                            cursor: pointer;

                            h4{
                                &.hasArrow{
                                    font-size: 29px;
                                    line-height: 18px; 

                                    i{
                                        line-height: 18px;
                                    }
                                }
                            }

                            .shippingInfoToolTip{
                                position: absolute;
                                top: 0;
                                left: 0;
                                box-shadow: 0px 0px 14px -2px rgba(0,0,0,0.20);
                                background-color: $white;
                                width: 100%;
                                display: none;

                                ul{
                                    list-style: none;
                                    margin: 0;
                                    padding: 20px 40px;

                                    li{
                                        display: block;
                                        margin: 0 0 6px 0;

                                        &:nth-last-child(1){
                                            margin: 0;
                                        }

                                        a{
                                            color: #1A171E;
                                            font-size: 15px;
                                            position: relative;
                                            letter-spacing: 0.5px;

                                            i{
                                                display: none;
                                            }
                                        }

                                        &.active{
                                            a{
                                                i{
                                                    position: absolute;
                                                    top: 2px;
                                                    left: -25px;
                                                    color: #1A171E;
                                                    display: block;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.sendAsGiftHolder{
                            background-color: #F8F8F8;
                            padding: 13px 12px;
                            cursor: pointer;

                            h4{
                                font-family: $fontFamilyBold;
                                letter-spacing: 2px;

                                .square{
                                    border: 1px solid #707070;
                                    width: 16px;
                                    height: 16px;
                                    background-color: #fff;
                                    position: relative;
                                    display: block;

                                    &.checked{
                                        &:after{
                                            content: '';
                                            width: 8px;
                                            height: 8px;
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            left: 0;
                                            right: 0;
                                            margin: 0 auto;
                                            background-color: $yellow;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .generalBtn{
                        margin: 0;
                    }

                    .generalNotice{
                        font-size: 15px;
                        color: #3B3939;
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }

    .generalPopup{
        .innerGeneralPopup{
            form{
                .fieldWrapper{
                    &.radioBtnsHolder{
                        display: flex;
                        margin: 0 0 32px 0;

                        .radioBtns{
                            display: flex;
                            margin: 0 20px 0 0;
                            cursor: pointer;

                            &:nth-last-child(1){
                                margin: 0;
                            }

                            .circle{
                                width: 19px;
                                height: 19px;
                                background-color: transparent;
                                border-radius: 100%;
                                border: 1px solid #707070;
                                @extend %transition-all-zeroFive-sec;

                                &.checked{
                                    background-color: $yellow;
                                    border-color: $yellow;
                                    @extend %transition-all-zeroFive-sec;
                                }
                            }

                            h4{
                                font-size: 16px;
                                color: #1A171E;
                                margin: 0 0 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-template-checkout{
    header{
        display: none;
    }
}