/*
Description: Contact us Css styles
Developer: Marc bou sleiman
*/
.contactUs {
    .innerPage {
        padding: 40px 0 90px 0;

        .leftSection {
            display: flex;
            align-items: center;

            .innerLeftSection {
                max-width: 460px;

                h1 {
                    font-size: 32px;
                    color: $black2;
                    margin: 0 0 30px 0;
                    font-family: $fontFamilyRegular;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    max-width: 245px;

                    &.getInTouchList {
                        li {
                            display: flex;
                            margin: 0 0 20px 0px;

                            span {
                                min-width: 20px;
                                font-size: 20px;
                                color: $black2;
                            }

                            h4 {
                                width: calc(100% - 35px);
                                margin: 0 0 0 20px;
                                font-family: $fontFamilyMedium;
                                font-size: 17px;
                                color: $black2;
                                line-height: 24px;

                                a {
                                    color: $black2;
                                }
                            }

                            &.phoneNumber {
                                .seperator {
                                    color: #c3c3c3;
                                    margin: 0 8px;
                                }
                            }

                            &:nth-last-of-type(1) {
                                margin: 0 0 10px 0px;
                            }
                        }
                    }

                    &.socialMediaList {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        display: inline-block;

                        li {
                            display: inline-block;
                            margin: 0 6px 0 0;

                            &:nth-last-child(1) {
                                margin: 0;
                            }

                            a {
                                width: 60px;
                                height: 60px;
                                border: 1px solid $lightGrey2;
                                background-color: $lightGrey2;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: $black2;
                                font-size: 20px;
                            }
                        }
                    }
                }

                .buttonsHolder {
                    margin: 50px 0 0 0;
                    display: flex;
                    align-items: center;

                    a {
                        width: calc(100% / 2 - 5px);
                        height: 60px;
                        background-color: $black2;
                        border: 1px solid $black2;
                        color: $white;
                        letter-spacing: 2.5px;
                        font-size: 14px;
                        font-family: $fontFamilyBold;
                        line-height: 60px;
                        text-align: center;
                        padding: 0;

                        &:nth-child(1) {
                            margin: 0 10px 0 0;
                        }

                        &:nth-child(2) {
                            background-color: transparent;
                            color: $black2;

                            i {
                                margin: 0 12px 0 0px;
                                font-size: 19px;
                            }
                        }
                    }
                }
            }
        }

        .rightSection {
            img {
                width: 100%;
                max-width: 90%;
            }
        }
    }
}
