/*
Description: FAQ Css styles
Developer: Marc bou sleiman
*/
.faqPage {
    .contentSection {
        padding: 40px 0;

        .eachFaqWrap {
            margin: 0 0 80px 0;

            &:nth-last-child(1) {
                margin: 0;
            }

            h2 {
                color: $black2;
                font-size: 25px;
                margin: 0 0 12px 0;
                font-family: $fontFamilyRegular;

                span{
                    margin: 0 6px 0 0;
                }
            }

            .content {
                color: $black2;
                font-size: 17px;
                width: 100%;
                max-width: 1030px;
            }
        }
    }
}
