/*
Description: Home Css styles
Developer: Marc bou sleiman
*/
.homepage {
    .sectionTitle {
        font-size: 31px;
        margin: 0 0 50px 0;
        color: $black2;
        text-align: center;
    }

    .topSlider {
        height: 100vh;
        width: 100%;
        position: relative;

        .swiper-container {
            width: 100%;
            height: 100%;

            .swiper-slide {
                display: flex;
                align-items: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                .innerDescription {
                    padding: 0 100px;

                    h1 {
                        color: $white;
                        font-family: $fontFamilySemi;
                        font-size: 30px;
                        margin: 0 0 10px 0;
                        transform: translateY(120px);
                        opacity: 0;
                        @extend %transition-all-oneFive-sec;
                    }

                    a {
                        color: $white;
                        font-size: 14px;
                        font-family: $fontFamilyBold;
                        letter-spacing: 2px;
                        transform: translateY(160px);
                        display: inline-block;
                        opacity: 0;
                        @extend %transition-all-oneFive-sec;

                        i {
                            margin: 0 0 0 6px;
                        }
                    }
                }

                &.swiper-slide-active {
                    .innerDescription {
                        h1,
                        a {
                            opacity: 1;
                            transform: translateY(0px);
                            transition-delay: 250ms;
                            @extend %transition-all-oneFive-sec;
                        }
                    }
                }
            }
        }

        .topWhitebg {
            position: absolute;
            height: 115px;
            top: 0;
            width: 100%;
            left: 0;
            background: rgb(255, 255, 255);
            background: linear-gradient(
                rgba(255, 255, 255, 0.5) 0%,
                rgba(249, 249, 249, 0.6) 16%,
                rgba(250, 250, 250, 0) 100%
            );
            z-index: 6;
        }

        .topSwiperPag {
            position: absolute;
            bottom: 25px;
            z-index: 10;
            left: 100px;

            .swiper-pagination-bullet {
                background: $white;
                opacity: 0.5;
                margin: 0 5px 0 0;

                &.swiper-pagination-bullet-active {
                    background: $yellow;
                    opacity: 1;
                }
            }
        }
    }

    .curatedWeekly {
        background-color: $lightGrey2;
        padding: 60px 0 20px 0;

        .sectionTitle {
            text-align: left;
            margin: 0 0 30px 0;
        }

        .container {
            position: relative;

            .curatedWeeklySliderPag {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: -30px;

                .swiper-pagination-bullet {
                    background: $black;
                    opacity: 0.2;
                    margin: 5px 0;
                    display: block;

                    &.swiper-pagination-bullet-active {
                        background: $yellow;
                        opacity: 1;
                    }
                }
            }
        }

        .sliderWrapper {
            .swiper-container {
                .swiper-wrapper {
                    .swiper-slide {
                        .rightSection {
                            display: flex;
                            flex-wrap: wrap;

                            .productWrap {
                                width: calc(100% / 2 - 10px);
                                flex: 0 0 calc(100% / 2 - 10px);
                                text-align: left;
                                transform: translateY(150px);
                                opacity: 0;
                                @extend %transition-all-zeroFive-sec;

                                &:nth-of-type(1),
                                &:nth-of-type(3) {
                                    margin: 0 20px 50px 0;
                                }
                            }
                        }

                        .leftSection {
                            img {
                                width: 100%;
                                height: auto;
                                transform: translateY(150px);
                                opacity: 0;
                                @extend %transition-all-zeroFive-sec;
                            }
                        }

                        &.swiper-slide-active {
                            .rightSection {
                                .productWrap {
                                    transform: translateY(0);
                                    opacity: 1;
                                    @extend %transition-all-oneFive-sec;

                                    &:nth-child(2) {
                                        transition-delay: 200ms;
                                    }

                                    &:nth-child(3) {
                                        transition-delay: 300ms;
                                    }

                                    &:nth-child(4) {
                                        transition-delay: 400ms;
                                    }
                                }
                            }

                            .leftSection{
                                img{
                                    transform: translateY(0);
                                    opacity: 1;
                                    @extend %transition-all-oneFive-sec;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .seperator {
        width: 100%;
        height: 1px;
        background-color: $lightGrey;
    }

    .productListSection {
        padding: 50px 0 0 0;
    }

    .categoriesSection {
        position: relative;
        padding: 80px 0;
        margin: 30px 0 0;

        &:before {
            content: "";
            background-color: $black3;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 57%;
            z-index: 1;
        }

        .sectionTitle {
            color: $white;
            position: relative;
            z-index: 5;
            margin: 0 0 78px 0;
        }

        .sliderWrapper {
            padding: 0 50px;
            position: relative;

            .swiper-container {
                .swiper-slide {
                    text-align: center;

                    .imageHolder {
                        min-height: 200px;
                        overflow: hidden;
                        padding: 17px 0 0 0;

                        img {
                            width: auto;
                            height: auto;
                            max-width: 200px;
                            max-height: 192px;
                            @extend %transition-all-zeroFive-sec;
                        }
                    }

                    &:hover {
                        .imageHolder {
                            img {
                                transform: scale(1.1);
                                @extend %transition-all-zeroFive-sec;
                            }
                        }
                    }

                    h3 {
                        color: $black2;
                        font-size: 24px;
                        margin: 2px 0 0 0;
                        font-family: $fontFamilyRegular;
                    }
                }
            }

            .categoriesSwiperNav {
                position: absolute;
                color: $yellow;
                z-index: 5;
                font-size: 54px;
                bottom: 100px;
                text-shadow: 0px -2px 10px rgba(0, 0, 0, 0.4);
                cursor: pointer;

                &.swiper-button-disabled {
                    pointer-events: none;
                    cursor: default;
                    opacity: 0.5;
                }

                &.btnPrev {
                    left: 30px;
                }

                &.btnNext {
                    right: 30px;
                }
            }
        }
    }
}
