/*
Description: My orders Css styles
Developer: Marc bou sleiman
*/
.myOrdersPage {
    .contentSection {
        .rightSection {
            .innerRightSection {
                max-width: 90%;

                .eachOrderWrap {
                    margin: 0 0 30px 0;

                    .topOrderWrap {
                        background-color: #f8f8f8;
                        padding: 30px 200px 30px 35px;
                        position: relative;

                        .trackOrderBtn {
                            position: absolute;
                            top: 30px;
                            right: 35px;
                            color: $black2;
                            border: 1px solid $black2;
                            font-size: 12px;
                            font-family: $fontFamilyBold;
                            padding: 8px 22px;
                            letter-spacing: 2.4px;
                            min-width: 165px;
                            text-align: center;
                            @extend %transition-all-zeroTwo-sec;

                            &.cancelBtn {
                                top: 80px;
                                opacity: 0;
                                @extend %transition-all-zeroTwo-sec;
                            }

                            &:hover {
                                color: $darkGrey3;
                                border-color: $darkGrey3;
                                @extend %transition-all-zeroTwo-sec;
                            }
                        }

                        h3 {
                            font-size: 18px;
                            font-family: $fontFamilySemi;
                            margin: 0 0 15px 0;
                            color: $black2;
                        }

                        h4 {
                            font-size: 15px;
                            font-family: $fontFamilyMedium;
                            margin: 0 0 3px 0;
                            color: $black2;
                        }

                        .viewOrderBtn {
                            color: $black2;
                            font-size: 12px;
                            font-family: $fontFamilyBold;
                            display: inline-block;
                            margin: 10px 0 0 0;
                            letter-spacing: 2.4px;
                            text-transform: uppercase;
                        }
                    }

                    .horizontalPoductWrap {
                        display: flex;
                    }

                    .horizontalPoductWrap {
                        display: none;
                    }

                    &:hover {
                        .topOrderWrap {
                            .trackOrderBtn {
                                &.cancelBtn {
                                    opacity: 1;
                                    @extend %transition-all-zeroTwo-sec;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.myAccountPages {
    .contentSection {
        padding: 50px 0;

        .leftSection {
            .userName,
            .pageName {
                display: none;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    margin: 0 0 31px 0;

                    &:nth-last-child(1) {
                        margin: 0;
                    }

                    a {
                        color: $black2;
                        font-size: 15px;
                        font-family: $fontFamilySemi;
                        display: inline-block;
                        letter-spacing: 2.4px;
                        border-bottom: 1px solid transparent;
                        padding: 0 0 4px 0;
                        position: relative;
                        @extend %transition-all-zeroTwo-sec;

                        i.fa-check{
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right: 0px;
                            color: $black2;
                            font-size: 20px;
                            display: none;
                        }

                        &:hover {
                            border-bottom: 1px solid $yellow;
                            @extend %transition-all-zeroTwo-sec;
                        }
                    }

                    &.active {
                        position: relative;

                        a {
                            border-color: $yellow;
                        }

                        &:before {
                            content: "";
                            background-color: $yellow;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            z-index: -1;
                            left: -10px;
                            top: -7px;
                        }
                    }
                }
            }
        }

        .rightSection {
            .innerRightSection {
                .sectionTitle {
                    font-size: 28px;
                    margin: 0 0 30px 0;
                    color: $black2;
                    font-family: $fontFamilyRegular;
                }
            }
        }
    }

    &.myWishList {
        .contentSection {
            .rightSection {
                .innerRightSection {
                    max-width: 100%;

                    .container {
                        padding: 0;
                    }

                    .productWrap {
                        .descHolder {
                            .generalBtn {
                                margin: 30px auto;
                            }

                            .removeBtn {
                                font-size: 14px;
                                text-decoration: underline;
                                color: $black2;
                            }
                        }
                    }
                }
            }
        }
    }

    &.addressesPage {
        .contentSection {
            .rightSection {
                .innerRightSection {
                    .addressesHolder {
                        .eachAddressWrap {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            border: 1px solid #dddddd;
                            padding: 40px 20px 40px 45px;
                            margin: 0 0 30px 0;

                            .addressInfo {
                                max-width: 50%;
                                flex: 0 0 50%;
                                display: flex;
                                flex-wrap: wrap;

                                .circle {
                                    width: 22px;
                                    height: 22px;
                                    border-radius: 100%;
                                    border: 1px solid #707070;
                                    position: relative;

                                    &.active {
                                        &:after {
                                            content: "";
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            left: 0;
                                            right: 0;
                                            width: 16px;
                                            height: 16px;
                                            background-color: $yellow;
                                            border-radius: 100%;
                                            margin: 0 auto;
                                        }
                                    }
                                }

                                .detailsHolder {
                                    width: 100%;
                                    max-width: 190px;
                                    padding: 0 0 0 18px;

                                    h4 {
                                        color: $black2;
                                        font-size: 16px;
                                        margin: 0 0 5px 0;

                                        &:nth-last-child(1) {
                                            margin: 0;
                                        }
                                    }
                                }
                            }

                            .actionsHolder {
                                a {
                                    font-size: 14px;
                                    font-family: $fontFamilySemi;
                                    letter-spacing: 2.4px;
                                    margin: 0 0 20px 0;
                                    color: $black2;
                                    display: block;

                                    i {
                                        font-size: 21px;
                                    }

                                    &:nth-last-child(1) {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.weddingListInfo {
        .contentSection {
            .rightSection {
                .innerRightSection {
                    .sectionHeader {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        margin: 0 0 30px 0;

                        ul {
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            width: calc(100% - 120px);
                            flex: 0 0 calc(100% - 120px);
                            display: flex;
                            align-items: center;

                            li {
                                margin: 0 30px 0 0;
                                padding: 0 30px 0 0;
                                position: relative;

                                &:after {
                                    content: "";
                                    position: absolute;
                                    height: 9px;
                                    width: 1px;
                                    background-color: $black2;
                                    right: 0;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }

                                &:nth-last-child(1) {
                                    &:after {
                                        display: none;
                                    }
                                }

                                a {
                                    color: #bababa;
                                    font-size: 16px;
                                    font-family: $fontFamilySemi;
                                    display: block;
                                    padding: 0 0 4px 0;
                                }

                                &.active {
                                    a {
                                        color: $black2;
                                        border-bottom: 1px solid $yellow;
                                    }
                                }
                            }
                        }

                        .generalBtn {
                            max-width: 115px;
                            background-color: transparent;
                            color: $black2;
                            letter-spacing: 2.4px;
                            height: 48px;
                            line-height: 48px;
                        }
                    }

                    .productsWrapper {
                        .horizontalPoductWrap {
                            .descHolder {
                                .productName {
                                    margin: 0 0 12px 0;
                                }

                                .moreInfo {
                                    &.giftInfo {
                                        margin: 15px 0 0 0;
                                    }
                                }
                            }

                            &.giftOrder {
                                .descHolder {
                                    width: calc(100% - 205px);
                                    flex: 0 0 calc(100% - 205px);
                                }

                                .imageHolder {
                                    width: 105px;
                                    flex: 0 0 105px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
