/*
Description: Home Css styles
Developer: Marc bou sleiman
*/
.myBagPage {
    .contentSection {
        padding: 35px 0;

        .leftSection {
            padding: 0 50px 0 0;
        }

        .rightSection {
            padding: 0 0 0 50px;

            .innerRightSection {
                .sectionTitle {
                    font-size: 13px;
                    letter-spacing: 2.4px;
                    margin: 0 0 20px 0;
                    font-family: $fontFamilySemi;

                    &.withBackSquare {
                        position: relative;
                        border-bottom: 1px solid #989898;
                        padding: 0 0 15px 0;

                        &:before {
                            content: "";
                            background-color: $yellow;
                            width: 30px;
                            height: 30px;
                            position: absolute;
                            z-index: -1;
                            left: -10px;
                            top: -7px;
                        }
                    }
                }

                .generalBtn {
                    max-width: 260px;
                    height: 50px;
                    line-height: 50px;
                    margin: 0 0 30px 0;
                }

                .separatedInnerContent {
                    display: flex;
                    justify-content: space-between;
                    margin: 0 0 20px 0;

                    h4 {
                        margin: 0;
                        font-size: 15px;
                        font-family: $fontFamilyMedium;
                        color: $black2;
                    }

                    &.total {
                        border-top: 1px solid #989898;
                        padding: 15px 0 0 0;
                        margin: 10px 0 20px 0;

                        h4 {
                            font-family: $fontFamilyBold;
                        }
                    }
                }

                .additionalInfo {
                    border-bottom: 1px solid #cecece;
                    padding: 0 0 30px 0;
                    margin: 0 0 30px 0;

                    .sectionTitle {
                        margin: 0 0 10px 0;
                    }

                    .content{
                        font-size: 14px;
                        font-family: $fontFamilyMedium;
                        color: $black2;
                    }
                }
            }
        }
    }
}
