/*
Description: Shop Css styles
Developer: Marc bou sleiman
*/
.shopPage {
    .contentSection {
        padding: 60px 0;

        .leftSection {
            padding: 0 30px 0 0;

            .innerLeftSection {
                &.fixMe {
                    position: fixed;
                    top: 75px;
                    width: 100%;
                    overflow-y: auto;
                    max-height: calc(100vh - 78px);
                }
            }

            .sectionTitle {
                color: $black2;
                font-size: 14px;
                letter-spacing: 2.4px;
                margin: 0 0 15px 0;
                font-family: $fontFamilySemi;
            }

            .closeFilterPopup {
                display: none;
            }

            .eachFilterHolder {
                .filterHolderHead {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid #f0efea;
                    padding: 15px 0;
                    cursor: pointer;

                    h4 {
                        font-family: $fontFamilySemi;
                        font-size: 16px;
                        color: $black2;
                        margin: 0;
                    }

                    span {
                        font-size: 14px;
                        color: $black2;
                    }
                }

                .filterHolderBody {
                    opacity: 0;
                    height: 0;
                    visibility: hidden;
                    overflow-y: auto;
                    @extend %transition-all-zeroFive-sec;

                    .simplebar-track {
                        opacity: 0;
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;

                        li {
                            margin: 14px 0;

                            a {
                                display: flex;
                                align-items: center;

                                .circle {
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 100%;
                                    border: 1px solid #bababa;
                                }

                                .square {
                                    width: 16px;
                                    height: 16px;
                                    border-radius: 0;
                                    border: 1px solid #bababa;

                                    &.saleChecker {
                                        position: relative;

                                        i {
                                            position: absolute;
                                            top: 50%;
                                            left: 0;
                                            transform: translateY(-50%);
                                            right: 0;
                                            font-size: 14px;
                                            margin: 0 auto;
                                            color: $black2;
                                            opacity: 0;
                                        }
                                    }
                                }

                                .label {
                                    color: #393939;
                                    font-size: 16px;
                                    font-family: $fontFamilyMedium;
                                    margin: 0 0 0 15px;
                                }

                                &.selected {
                                    .circle,
                                    .square {
                                        background-color: $yellow;
                                    }

                                    .square {
                                        &.saleChecker {
                                            background-color: transparent;

                                            i {
                                                opacity: 1;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.inlined {
                            display: flex;

                            li {
                                &:nth-child(1) {
                                    margin: 12px 30px 12px 0;
                                }
                            }
                        }
                    }

                    .dimensionsSelector {
                        h4 {
                            color: #393939;
                            font-size: 13px;
                            font-family: $fontFamilySemi;
                            margin: 0 0 10px 0;
                        }

                        .selectorHolder {
                            display: flex;
                            align-items: center;

                            input {
                                width: 73px;
                                border: 1px solid #bababa;
                                height: 37px;
                            }

                            span {
                                color: #393939;
                                font-size: 13px;
                                font-family: $fontFamilySemi;
                                margin: 0 8px;
                            }

                            a {
                                color: #707070;
                                font-size: 13px;
                                font-family: $fontFamilySemi;
                                margin: 0 0 0 6px;
                                text-decoration: underline;
                            }

                            &.heightSelector {
                                margin: 10px 0 20px 0;
                            }
                        }
                    }
                }

                &.opened {
                    .filterHolderBody {
                        opacity: 1;
                        visibility: visible;
                        height: 200px;
                        max-height: 200px;
                        @extend %transition-all-zeroFive-sec;
                    }
                }

                &.doneOpening {
                    .simplebar-track {
                        opacity: 1;
                    }
                }
            }

            .btnsHolder {
                margin: 0;
                display: none;
                align-items: center;

                .triggerBtn {
                    width: calc(100% / 2 - 5px);
                    height: 60px;
                    background-color: $black2;
                    border: 1px solid $black2;
                    color: $white;
                    letter-spacing: 2.5px;
                    font-size: 14px;
                    font-family: $fontFamilyBold;
                    line-height: 60px;
                    text-align: center;
                    padding: 0;

                    &:nth-child(1) {
                        margin: 0 10px 0 0;
                    }

                    &:nth-child(2) {
                        background-color: transparent;
                        color: $black2;
                    }
                }
            }
        }

        .rightSection {
            padding: 0 0 0 30px;

            .sortingWrapper {
                padding: 0;
                text-align: right;
                margin: 0 0 30px 0;

                .openFilterPopup {
                    display: none;
                }

                h3 {
                    float: left;
                    font-size: 16px;
                    padding: 15px 0;
                    margin: 0;
                    color: $black2;

                    a {
                        color: $black2;
                        text-decoration: underline;
                    }
                }

                select {
                    height: 50px;
                    background-color: transparent;
                    min-width: 160px;
                    color: $black2;
                    padding: 0 20px;
                    font-size: 14px;
                    border: 1px solid #bababa;
                    float: right;

                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url("../assets/images/black-arrow.png");
                    background-repeat: no-repeat;
                    background-size: 14px;
                    background-position-x: calc(100% - 10px);
                    background-position-y: 50%;

                    option {
                        color: $black2;
                        background-color: $white;
                    }
                }
            }
        }
    }
}
