/*
Description: Single shop Css styles
Developer: Marc bou sleiman
*/
.singleShopPage {
    .innerPage {
        .topSection {
            position: relative;
            padding: 120px 0 50px 0;

            &:before {
                content: "";
                width: 50%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background-color: $lightGrey2;
                z-index: 1;
            }

            .backBtn {
                font-size: 12px;
                font-family: $fontFamilyBold;
                color: $black2;
                letter-spacing: 1.5px;

                i {
                    font-size: 20px;
                    vertical-align: middle;
                    margin: 0 10px 0 0;
                }

                span {
                    vertical-align: bottom;
                }
            }

            .triggerBtn {
                width: 100%;
                max-width: 330px;
                height: 60px;
                background-color: $black2;
                border: 1px solid $black2;
                color: $white;
                letter-spacing: 2.5px;
                font-size: 14px;
                font-family: $fontFamilyBold;
                line-height: 60px;
                text-align: center;
                padding: 0;
                display: inline-block;
            }

            .leftSection {
                .innerLeftSection {
                    .innerInfoHolder {
                        padding: 0 50px;
                        position: relative;
                        margin: 60px 0 0 0;

                        .addToWishList {
                            color: $black;
                            position: absolute;
                            right: 50px;
                            top: 0;
                            font-size: 28px;
                        }

                        .title {
                            font-size: 25px;
                            margin: 0 0 4px 0;
                            color: $black2;
                        }

                        .artist {
                            font-size: 17px;
                            margin: 0 0 20px 0;
                            color: $black2;
                        }

                        .content {
                            font-size: 15px;
                            font-family: $fontFamilyMedium;
                            line-height: 22px;
                            margin: 0 0 25px 0;
                        }

                        .subInfoHolder {
                            margin: 0 0 35px 0;

                            h4 {
                                color: $black2;
                                font-size: 14px;
                                letter-spacing: 2.4px;
                                margin: 0 0 5px 0;
                                font-family: $fontFamilySemi;
                            }

                            ul {
                                margin: 8px 0 0 0;
                                padding: 0 0 0 15px;

                                li {
                                    color: $black2;
                                    font-size: 14px;
                                    font-family: $fontFamilyMedium;
                                }
                            }

                            .shippingTrigger {
                                color: #707070;
                                font-family: $fontFamilyMedium;
                                font-size: 16px;
                                margin: 12px 0 0 0;
                                display: inline-block;
                                text-decoration: underline;
                            }

                            .colorsHolder {
                                display: flex;
                                margin: 15px 0 0 0;

                                .color {
                                    width: 23px;
                                    height: 23px;
                                    border-radius: 100%;
                                    background-color: grey;
                                    position: relative;
                                    margin: 0 15px 0 0;
                                    cursor: pointer;

                                    &:nth-last-child(1) {
                                        margin: 0;
                                    }

                                    &.active {
                                        &:before {
                                            content: "";
                                            width: 31px;
                                            height: 31px;
                                            border-radius: 100%;
                                            left: -4px;
                                            position: absolute;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            border: 1px solid $black2;
                                        }
                                    }

                                    &.orange {
                                        background-color: #ef903f;
                                    }

                                    &.blue {
                                        background-color: #017d91;
                                    }
                                }
                            }
                        }

                        .moreInfo {
                            margin: 35px 0 0 0;
                            width: 100%;
                            max-width: 330px;

                            ul {
                                margin: 0;
                                padding: 0;
                                list-style: none;

                                li {
                                    display: flex;
                                    margin: 0 0 20px 0;

                                    &:nth-last-child(1) {
                                        margin: 0;
                                    }

                                    i {
                                        &.truckIcon {
                                            width: 35px;
                                            height: 16px;
                                            background-image: url("../assets/images/truck.svg");
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: 27px 16px;
                                            min-width: 35px;
                                        }

                                        &.arrowIcon {
                                            min-width: 35px;
                                            width: 35px;
                                            height: 14px;
                                            background-image: url("../assets/images/bended-arrow.svg");
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            background-size: 13px 14px;
                                        }
                                    }

                                    span {
                                        font-size: 15px;
                                        line-height: 20px;
                                        padding: 0 0 0 15px;

                                        strong {
                                            font-family: $fontFamilySemi;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .rightSection {
                text-align: right;

                .innerRightSection {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    max-width: 95%;
                    margin: 0 0 0 auto;

                    .swiper-container {
                        &.singleGallery {
                            width: calc(100% - 70px);
                            flex: 0 0 calc(100% - 70px);

                            .swiper-slide {
                                img {
                                    width: 100%;
                                    height: auto;
                                }
                            }
                        }

                        &.singleGalleryThumbs {
                            width: 70px;
                            flex: 0 0 70px;
                            padding: 0 0 0 10px;

                            .swiper-wrapper {
                                justify-content: center;

                                .swiper-slide {
                                    cursor: pointer;

                                    img {
                                        width: auto;
                                        height: auto;
                                        max-height: 100%;
                                        max-width: 100%;
                                    }

                                    &.swiper-slide-thumb-active {
                                        img {
                                            border: 1px solid #707070;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .triggerBtn,
                .backBtn {
                    display: none;
                }
            }
        }

        .mightAlsoLikeSection {
            padding: 100px 0 60px 0;

            .sectionTitle {
                font-size: 30px;
                font-family: $fontFamilyRegular;
                margin: 0 0 40px 0;
            }
        }
    }
}
