/*
Description: Single artist Css styles
Developer: Marc bou sleiman
*/
.singleArtistPage {
    position: relative;
    height: 100vh;
    overflow: hidden;

    .columnsWrap {
        display: flex;

        .leftSection {
            width: 50%;
            flex: 0 0 50%;

            .innerLeftSection {
                padding: 130px 0 0 200px;

                a {
                    font-size: 12px;
                    font-family: $fontFamilyBold;
                    color: $black2;
                    letter-spacing: 1.5px;

                    i {
                        font-size: 20px;
                        vertical-align: middle;
                        margin: 0 10px 0 0;
                    }

                    span {
                        vertical-align: bottom;
                    }
                }

                .infoWrapper {
                    margin: 100px 0 0 0;
                    width: 100%;
                    max-width: 360px;

                    img {
                        width: 100%;
                        height: auto;
                        max-width: 85px;
                        border-radius: 100%;
                        margin: 0 0 40px 0;
                    }

                    h1 {
                        color: $black2;
                        font-size: 27px;
                        margin: 0 0 10px 0;
                    }

                    .content {
                        font-size: 16px;
                        line-height: 25px;
                        color: $darkGrey2;
                    }
                }
            }
        }

        .rightSection {
            background-color: $lightGrey2;
            width: 50%;
            flex: 0 0 50%;
            overflow-y: scroll;
            max-height: 100vh;
            padding: 130px 0 0 0;
            display: flex;
            justify-content: center;
            position: relative;

            .topWhiteBg {
                position: fixed;
                height: 100px;
                top: 0;
                width: 50%;
                right: 0;
                background: rgb(248, 248, 248);
                background: linear-gradient(
                    rgba(248, 248, 248, 0.95) 0%,
                    rgba(248, 248, 248, 0.9) 16%,
                    rgba(250, 250, 250, 0) 100%
                );
                z-index: 6;
            }

            .innerRightSection {
                .eachArtWrap {
                    margin: 0 0 50px 0;

                    h3 {
                        font-size: 18px;
                        margin: 10px 0 0 0;
                    }

                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }

    &.singleWhatsonPage {
        .columnsWrap {
            .leftSection {
                .innerLeftSection {
                    .infoWrapper {
                        h3 {
                            font-size: 15px;
                            color: $black2;
                            margin: 0 0 30px 0;
                            letter-spacing: 2.5px;
                        }

                        .playBtn {
                            width: 38px;
                            height: 38px;
                            display: block;
                            background-image: url("../assets/images/black-play-btn.svg");
                            background-repeat: no-repeat;
                            background-size: 100%;
                            background-position: center;
                            margin: 35px 0 0 0;
                        }
                    }
                }
            }
        }
    }
}
