/*
Description: Wedding List Css styles
Developer: Marc bou sleiman
*/
.weddingListPage {
    .firstSection {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .innerFirstSection {
            width: 100%;
            max-width: 500px;
            margin: 100px 0 0 120px;
            position: relative;

            .shadow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                width: 100%;
                height: 100%;
                box-shadow: none !important;
                right: 0;
                margin: 0 auto;
                background-image: url("../assets/images/wedding-shadow.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 100%;
                z-index: 1;
            }

            h1 {
                font-size: 40px;
                margin: 0 0 25px 0;
                color: $white;
                text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
                position: relative;
                z-index: 5;
            }

            .content {
                color: $white;
                font-size: 21px;
                font-family: $fontFamilyMedium;
                line-height: 30px;
                margin: 0 0 40px 0;
                text-shadow: 0px 2px 14px rgba(0, 0, 0, 0.35);
                position: relative;
                z-index: 5;
            }

            a {
                border: 1px solid $white;
                font-size: 14px;
                color: $white;
                font-family: $fontFamilyBold;
                padding: 18px 60px;
                display: inline-block;
                position: relative;
                z-index: 5;
                letter-spacing: 2.5px;
                @extend %transition-all-zeroFive-sec;

                &:hover{
                    background-color: $black2;
                    border-color: $black2;
                    transition-delay: 0ms !important;
                    @extend %transition-all-zeroFive-sec;
                }
            }
        }

        .topWhitebg {
            position: absolute;
            height: 115px;
            top: 0;
            width: 100%;
            left: 0;
            background: rgb(255, 255, 255);
            background: linear-gradient(
                rgba(255, 255, 255, 0.5) 0%,
                rgba(249, 249, 249, 0.6) 16%,
                rgba(250, 250, 250, 0) 100%
            );
            z-index: 6;
        }
    }

    .secondSection {
        padding: 70px 0;

        .row {
            align-items: center;
        }

        .leftSection {
            padding: 0 70px 0 15px;

            .innerLeftSection {
                .sectionTitle {
                    color: $black2;
                    font-size: 40px;
                    font-family: $fontFamilyRegular;
                    margin: 0 0 30px 0;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        color: $black2;
                        font-size: 18px;
                        font-family: $fontFamilyMedium;
                        margin: 0 0 40px 0;
                        padding: 0 0 0 25px;
                        position: relative;
                        line-height: 28px;

                        &:before {
                            content: "";
                            width: 10px;
                            height: 10px;
                            background-color: $yellow;
                            position: absolute;
                            left: 0;
                            top: 5px;
                        }

                        &:nth-last-of-type(1) {
                            margin: 0;
                        }
                    }
                }
            }
        }

        .rightSection {
            padding: 0 15px 0 70px;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .informativeSection {

        &.centered{
            padding: 70px 0;
            margin: 0;
        }

        .row {
            .contentHolder {
                .innerContentHolder {
                    span {
                        display: block;
                        margin: 10px 0;
                    }

                    a {
                        padding: 15px 45px;
                        min-width: 240px;

                        &:hover{
                            transition-delay: 0ms !important;
                        }
                    }
                }
            }

            .imageHolder {
                img {
                    max-width: 500px;
                }
            }
        }
    }
}
