/*
    Theme Name: MSquare
    Description: MSquare default theme
    Version: 1.0
    Author: Marc bou sleiman
*/
.page-item.first{
    display:none !important;
}
.page-item.last{
    display:none !important;
}
.fieldWrapper.halfed {
    width: calc(100% / 2 - 15px);
}

.ErrorMsg{
    color:red;
}
.MsgRegistration{
    height:450px;
    vertical-align: middle;
}

.CashIcon{
    float: right;
    position: absolute;
    right: 8px;
    top: 13px;
}