/*
Description: Fonts Css styles includes
Developer: Marc bou sleiman
*/
@font-face {
    font-family: 'gilroy_bold';
    src: url('./fonts/Gilroy-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy_semibold';
    src: url('./fonts/Gilroy-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy_medium';
    src: url('./fonts/Gilroy-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroy_regular';
    src: url('./fonts/Gilroy-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

$fontFamilyRegular: 'gilroy_regular';
$fontFamilyMedium: 'gilroy_medium';
$fontFamilyBold: 'gilroy_bold';
$fontFamilySemi: 'gilroy_semibold';