/*
Description: Footer Css styles
Developer: Marc bou sleiman
*/
footer {
    background-color: $black2;
    overflow: hidden;

    .topPart {
        padding: 50px 50px 30px 50px;
        width: 100%;
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        position: relative;

        .eachColumn {
            &.firstCol {
                width: 15%;
                flex: 0 0 15%;
            }

            &.secondCol {
                width: 15%;
                flex: 0 0 15%;

                ul {
                    li {
                        padding: 0 15px 0 0;
                    }
                }
            }

            &.thirdCol {
                width: 15%;
                flex: 0 0 15%;
            }

            &.forthCol {
                width: 37%;
                flex: 0 0 37%;

                h3 {
                    padding: 0;
                    margin: 0 0 30px 0;
                }

                form {
                    position: relative;
                    width: 85%;

                    input[type="text"] {
                        border: 1px solid rgba(255, 255, 255, 0.19);
                        padding: 0 15px;
                        height: 60px;
                        color: $white;
                        width: 100%;
                        background-color: transparent;
                        font-size: 12px;
                        font-family: $fontFamilyMedium;
                        letter-spacing: 2.5px;

                        &::placeholder {
                            color: $white;
                            opacity: 1;
                        }

                        &:-ms-input-placeholder {
                            /* Internet Explorer 10-11 */
                            color: $white;
                            opacity: 1;
                        }

                        &::-ms-input-placeholder {
                            /* Microsoft Edge */
                            color: $white;
                            opacity: 1;
                        }
                    }

                    input[type="submit"] {
                        position: absolute;
                        background-color: transparent;
                        border: none;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                        color: $white;
                        text-decoration: underline;
                        font-size: 12px;
                        font-family: $fontFamilyBold;
                        letter-spacing: 2.5px;
                        text-transform: uppercase;
                    }
                }
            }

            &.fifthCol {
                width: 18%;
                flex: 0 0 18%;

                h3 {
                    padding: 0;
                    margin: 0 0 30px 0;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: inline-block;

                    li {
                        display: inline-block;
                        margin: 0 15px 0 0;

                        &:nth-last-child(1) {
                            margin: 0;
                        }

                        a {
                            width: 60px;
                            height: 60px;
                            border: 1px solid rgba(255, 255, 255, 0.19);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            color: $yellow;
                            font-size: 20px;
                        }
                    }
                }
            }

            h3 {
                padding: 0 0 0 18px;
                position: relative;
                color: $white;
                font-size: 14px;
                line-height: 16px;
                text-transform: uppercase;
                letter-spacing: 2.5px;
                font-family: $fontFamilyMedium;
                min-height: 33px;
                margin: 0;

                span {
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background-color: $yellow;
                    top: 3px;
                    left: 0;
                }
            }

            ul {
                list-style: none;
                margin: 26px 0 0 0;
                padding: 0;

                li {
                    color: $white;
                    font-size: 14px;
                    font-family: $fontFamilyMedium;
                    margin: 0 0 15px 0;

                    a {
                        color: $white;
                        @extend %transition-all-zeroFive-sec;

                        &:hover {
                            color: $yellow;
                            @extend %transition-all-zeroFive-sec;
                        }
                    }
                }
            }
        }

        .currencyAndCountry {
            position: absolute;
            bottom: 0;
            right: 50px;
            width: 50%;
            display: flex;
            justify-content: flex-end;

            .selectorWrap {
                &:nth-child(2) {
                    margin: 0 0 0 30px;
                }

                label {
                    font-size: 14px;
                    font-family: $fontFamilyMedium;
                    color: $white;
                    margin: 0 10px 0 0;
                }

                select {
                    height: 50px;
                    background-color: rgba(82, 82, 82, 0.19);
                    min-width: 160px;
                    color: $white;
                    padding: 0 20px;
                    font-size: 14px;
                    border: none;

                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-image: url("../assets/images/white-arrow.png");
                    background-repeat: no-repeat;
                    background-size: 18px;
                    background-position-x: calc(100% - 10px);
                    background-position-y: 50%;

                    option {
                        color: $black2;
                        background-color: $white;
                    }
                }
            }
        }
    }

    .bottomPart {
        padding: 25px 0 0 0;

        .artGallery {
            color: rgba(255, 255, 255, 0.1);
            font-size: 81px;
            line-height: 60px;
            text-align: left;
            margin: 0;
            font-family: $fontFamilyMedium;
        }
    }
}

.page-template-single-artist,
.page-template-single-whatson{
    footer {
        display: none;
    }
}
