/*
Description: Forms Css styles - login/forgotpass/register
Developer: Marc bou sleiman
*/
.formsPage {
    background-color: $lightGrey2;

    .innerPage {
        padding: 80px 0;

        .leftSection {
            display: flex;
            align-items: center;

            .innerLeftSection {
                width: 100%;
                max-width: 450px;

                h1 {
                    font-size: 35px;
                    margin: 0 0 30px 0;
                    color: $black2;
                }

                h4 {
                    line-height: 25px;
                    font-size: 16px;
                    color: $black2;
                    margin: 0 0 30px 0;
                }

                form {
                    .fieldWrapper {
                        &:nth-child(1) {
                            margin: 0 0 30px 0;
                        }

                        &.submitWrapper {
                            margin: 0;
                            display: flex;
                            align-items: center;

                            .triggerBtn {
                                width: calc(100% / 2 - 5px);
                                height: 60px;
                                background-color: $black2;
                                border: 1px solid $black2;
                                color: $white;
                                letter-spacing: 2.5px;
                                font-size: 14px;
                                font-family: $fontFamilyBold;
                                line-height: 60px;
                                text-align: center;
                                padding: 0;
                                @extend %transition-all-zeroFive-sec;

                                &:hover{
                                    background-color: $darkGrey3;
                                    @extend %transition-all-zeroFive-sec;
                                }

                                &:nth-child(1) {
                                    margin: 0 10px 0 0;
                                }

                                &:nth-child(2) {
                                    background-color: transparent;
                                    color: $black2;

                                    &:hover{
                                        color: $darkGrey3;
                                        border-color: $darkGrey3;
                                        background-color: transparent;
                                        @extend %transition-all-zeroFive-sec;
                                    }
                                }
                            }
                        }
                    }

                    label {
                        font-size: 16px;
                        font-family: $fontFamilyMedium;
                        margin: 0 0 6px 0;
                        color: $black2;
                    }

                    input {
                        background-color: $white;
                        border: 1px solid $lightGrey4;
                        height: 50px;
                        padding: 0 15px;
                        width: 100%;
                    }

                    .rememberForgotWrap {
                        display: flex;
                        justify-content: space-between;
                        margin: 15px 0 25px 0;

                        .rememberWrapper {
                            .square {
                                width: 15px;
                                height: 15px;
                                display: inline-block;
                                background-color: $white;
                                border: 1px solid $lightGrey4;
                                margin: 0 5px 0 0;
                            }

                            label {
                                display: inline-block;
                                line-height: 0.7;
                                vertical-align: middle;

                                a {
                                    font-family: $fontFamilyBold;
                                }
                            }
                        }

                        a {
                            font-size: 16px;
                            font-family: $fontFamilyMedium;
                            text-decoration: underline;
                            color: $black2;
                        }
                    }
                }
            }
        }

        .rightSection {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &.registerPage {
        .innerPage {
            .leftSection {
                .innerLeftSection {
                    form {
                        .fieldWrapper {
                            &:nth-child(2) {
                                margin: 0 0 30px 0;
                            }
                        }
                    }
                }
            }
        }
    }

    &.forgotPassPage {
        .innerPage {
            .leftSection {
                .innerLeftSection {
                    h1 {
                        margin: 0 0 14px 0;
                    }
                }
            }
        }
    }
}

.myAccountPages {
    form {
        label {
            color: #3c3b3b;
            font-size: 16px;
            margin: 0 0 6px 0;
            font-family: $fontFamilyMedium;
            display: block;
            width: 100%;
        }

        input[type="text"] {
            border: 1px solid #c3c3c3;
            height: 50px;
            padding: 0 5px;
            color: #3c3b3b;
            margin: 0 0 30px 0;
            display: block;
            width: 100%;
        }

        .generalBtn {
            max-width: 200px;
        }
    }

    .userAccountDetails {
        display: flex;
        margin: 60px 0 0 0;

        .circle {
            width: 22px;
            height: 22px;
            border-radius: 100%;
            border: 1px solid #707070;
            position: relative;

            &.active {
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    right: 0;
                    width: 16px;
                    height: 16px;
                    background-color: $yellow;
                    border-radius: 100%;
                    margin: 0 auto;
                }
            }
        }

        .detailsHolder {
            width: 100%;
            max-width: 190px;
            padding: 0 0 0 18px;

            h4 {
                color: $black2;
                font-size: 16px;
                margin: 0 0 5px 0;

                &:nth-last-child(1) {
                    margin: 0;
                }
            }
        }
    }
}
