/*
Description: General Css styles
Developer: Marc bou sleiman
*/
body,
html {
    margin: 0;
    padding: 0;
    font-family: $fontFamilyMedium;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.noLink {
    cursor: default;
    pointer-events: none;
}

.container{
    max-width: 1400px;
}

*:hover,
*:focus,
*:active,
a:hover,
a:focus,
a:active {
    text-decoration: none !important;
    outline: none;
}

%transition-all-oneFive-sec {
    -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    -o-transition: all 1.5s;
    transition: all 1.5s;
}

%transition-all-zeroFive-sec {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

%transition-all-zeroTwo-sec {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.paddingTop {
    padding-top: 70px;
}

.titleFont {
    font-family: $fontFamilyRegular;
}

.productWrap {
    text-align: center;
    margin: 0 0 50px 0;

    .imageHolder {
        position: relative;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            margin: 0 auto;
            height: 2px;
            width: 0;
            background-color: $yellow;
            z-index: 10;
            @extend %transition-all-zeroFive-sec;
        }

        img {
            width: 100%;
            height: auto;
        }

        .addToWishlist {
            position: absolute;
            font-size: 22px;
            color: #1a171e;
            top: 5px;
            right: 10px;
            opacity: 0;
            @extend %transition-all-zeroFive-sec;
        }
    }

    &:hover {
        .imageHolder {
            &:after {
                width: 100%;
                @extend %transition-all-zeroFive-sec;
            }
        }

        .addToWishlist {
            opacity: 1;
            @extend %transition-all-zeroFive-sec;
        }
    }

    .descHolder {
        margin: 20px 0 0 0;

        h3 {
            color: $black2;
            font-size: 17px;
            font-family: $fontFamilyMedium;
            margin: 0 0 3px 0;
        }

        h4 {
            color: #1a171e;
            font-size: 17px;
            font-family: $fontFamilyMedium;
            margin: 0;
            display: inline-block;
        }
    }

    &.sale {
        .descHolder {
            h4 {
                position: relative;

                &:not(.sale-price) {
                    &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        height: 1px;
                        width: 100%;
                        background-color: #1a171e;
                        z-index: 5;
                    }
                }
            }

            h4.sale-price {
                color: #ef4c4c;
                text-decoration: none;
                margin: 0 0 0 10px;
            }
        }
    }
}

.withPageIdentifier {
    .pageIdentifier {
        background-color: $lightGrey2;
        padding: 140px 0 70px 0;
        text-align: center;

        h1 {
            color: $black2;
            font-size: 36px;
            font-family: $fontFamilyRegular;
        }
    }
}

.generalPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(3, 3, 3, 0.75);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99999;

    .innerGeneralPopup {
        background-color: $white;
        text-align: center;
        width: 100%;
        max-width: 640px;
        padding: 50px 80px;
        position: relative;
        max-height: calc(100vh - 100px);
        overflow-y: auto;
        transform: translateY(60px);
        opacity: 0;
        @extend %transition-all-zeroFive-sec;

        .closeBtn {
            color: $black2;
            font-size: 32px;
            position: absolute;
            top: 10px;
            right: 25px;
        }

        .popupTitle {
            font-size: 33px;
            color: $black2;
            margin: 0 0 35px 0;
            font-family: $fontFamilyRegular;
        }

        .popupSubTitle {
            font-size: 18px;
            font-family: $fontFamilyMedium;
            line-height: 28px;
            margin: 0 0 35px 0;
        }

        .content{
            font-size: 16px;
            color: $black2;
            line-height: 28px;
            font-family: $fontFamilyRegular;
            text-align: center;

            span{
                font-family: $fontFamilyMedium;
                font-style: italic;
                display: block;
                margin: 25px 0 0 0;
            }
        }

        form {
            .fieldWrapper {
                margin: 0 0 20px 0;
                text-align: left;

                label {
                    font-size: 16px;
                    font-family: $fontFamilyMedium;
                    margin: 0 0 8px 0;
                    color: $black2;
                }

                input,
                textarea {
                    height: 50px;
                    border: 1px solid #d1d1d1;
                    padding: 0 10px;
                    color: $black2;
                    width: 100%;
                }

                textarea {
                    height: auto;
                }

                &.submitWrapper {
                    input {
                        background-color: $black2;
                        color: $white;
                        font-family: $fontFamilyBold;
                        letter-spacing: 2.5px;
                        height: 55px;
                    }
                }
            }
        }
    }

    &.showMe {
        .innerGeneralPopup {
            transform: translateY(0);
            opacity: 1;
            @extend %transition-all-zeroFive-sec;
        }
    }
}

.generalBenefitsSection {
    text-align: center;
    padding: 80px 0;

    .eachColumn {
        .iconHolder {
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 12px auto;

            img {
                width: 100%;
                max-width: 36px;
                height: auto;
            }
        }

        h3 {
            font-size: 18px;
            color: $black2;
            font-family: $fontFamilyMedium;
            margin: 0 0 6px 0;
        }

        h4 {
            font-size: 15px;
            color: $lightGrey3;
            margin: 0;

            a {
                color: $lightGrey3;
                text-decoration: underline;
            }
        }
    }
}

.informativeSection {
    padding: 60px 0;

    .row {
        align-items: center;

        .contentHolder {
            .innerContentHolder {
                width: 100%;
                max-width: 350px;

                h2 {
                    color: $black2;
                    font-size: 31px;
                    line-height: 36px;
                    margin: 0 0 30px 0;
                    position: relative;

                    &:before {
                        content: "";
                        position: absolute;
                        top: -7px;
                        left: -30px;
                        background-color: $yellow;
                        width: 48px;
                        height: 48px;
                        z-index: -1;
                    }
                }

                .content {
                    color: $black2;
                    line-height: 26px;
                    font-size: 18px;
                    margin: 0 0 25px 0;
                }

                a {
                    color: $black2;
                    font-size: 14px;
                    font-family: $fontFamilyBold;
                    letter-spacing: 2px;
                    display: inline-block;

                    i {
                        margin: -3px 0 0 6px;
                        font-size: 24px;
                        line-height: 0.5;
                        vertical-align: middle;
                        @extend %transition-all-zeroFive-sec;
                    }

                    &:hover {
                        i {
                            margin: -3px 0 0 12px;
                            @extend %transition-all-zeroFive-sec;
                        }
                    }
                }
            }
        }

        .imageHolder {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &.inverted {
        .row {
            flex-direction: row-reverse;

            .contentHolder {
                .innerContentHolder {
                    max-width: 100%;
                    padding: 0 0 0 70px;
                }
            }
        }
    }

    &.centered {
        background-color: $lightGrey;
        padding: 110px 0;
        margin: 60px 0 0 0;

        .row {
            .contentHolder {
                .innerContentHolder {
                    max-width: 260px;
                    margin: 0 auto;
                    text-align: center;

                    h2 {
                        font-size: 31px;

                        &:before {
                            display: none;
                        }
                    }

                    .content {
                        margin: 0 0 50px 0;
                    }

                    a {
                        padding: 13px 45px;
                        border: 1px solid $black2;
                        @extend %transition-all-zeroFive-sec;

                        &:hover {
                            background-color: $black2;
                            color: $white;
                            box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3);
                            transform: translateY(-3px);
                            @extend %transition-all-zeroFive-sec;
                        }
                    }
                }
            }
        }
    }
}

.generalBtn {
    width: 100%;
    max-width: 330px;
    height: 60px;
    background-color: $black2;
    border: 1px solid $black2;
    color: $white;
    letter-spacing: 2.5px;
    font-size: 14px;
    font-family: $fontFamilyBold;
    line-height: 60px;
    text-align: center;
    padding: 0;
    display: inline-block;
    @extend %transition-all-zeroFive-sec;

    &:hover {
        background-color: $darkGrey2;
        color: $white;
        @extend %transition-all-zeroFive-sec;
    }
}

.horizontalPoductWrap {
    border: 1px solid #dddddd;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 30px 0;

    &:nth-last-child(1) {
        margin: 0;
    }

    .imageHolder {
        width: 130px;
        flex: 0 0 130px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .descHolder {
        width: calc(100% - 230px);
        flex: 0 0 calc(100% - 230px);
        padding: 0 25px;

        .productName {
            font-size: 18px;
            font-family: $fontFamilyMedium;
            margin: 0 0 2px 0;
            color: $black2;
        }

        .artistName {
            color: #707070;
            font-size: 14px;
            font-family: $fontFamilyMedium;
            margin: 0 0 15px 0;
        }

        .moreInfo {
            color: #3b3939;
            font-size: 14px;
            font-family: $fontFamilySemi;
            margin: 0 0 4px 0;
        }

        .viewItem {
            margin: 10px 0 0 0;
            display: inline-block;
            color: $black2;
            font-size: 12px;
            font-family: $fontFamilyBold;
            text-decoration: underline;
            text-transform: uppercase;
        }
    }

    .priceHolder {
        width: 100px;
        flex: 0 0 100px;
        text-align: right;
        padding: 0 15px 0 0;

        h3 {
            color: $black2;
            font-size: 18px;
            font-family: $fontFamilyMedium;
            margin: 0 0 5px 0;
        }

        .removeBtn {
            color: #707070;
            font-size: 14px;
            text-decoration: underline;
        }
    }
}

.mbsAnimate {
    @extend %transition-all-oneFive-sec;
    opacity: 0;
    visibility: hidden;

    &.fadeUp {
        transform: translateY(100px);
    }

    &.fadeLeft {
        transform: translateX(100px);
    }

    &.fadeRight {
        transform: translateX(-100px);
    }

    &.mbsAnimated {
        @extend %transition-all-oneFive-sec;
        opacity: 1;
        visibility: visible;

        &.fadeUp {
            transform: translateY(0);
        }

        &.fadeLeft {
            transform: translateX(0);
        }

        &.fadeRight {
            transform: translateX(0);
        }
    }
}

.simplebar-track.simplebar-vertical {
    width: 9px;

    .simplebar-scrollbar:before {
        background: #d9d8d3;
        opacity: 1;
    }
}