/*
Description: Header Css styles
Developer: Marc bou sleiman
*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 30px 50px 0 50px;
    @extend %transition-all-zeroFive-sec;

    &.otherHeader {
        padding: 18px 50px;
        @extend %transition-all-zeroFive-sec;

        &.scrolling {
            padding: 12px 50px;
            background-color: $white;
            box-shadow: 0px 3px 30px #0000000d;
            @extend %transition-all-zeroFive-sec;

            .leftSection a img {
                max-width: 140px;
                @extend %transition-all-zeroFive-sec;
            }

            .rightSection {
                padding: 0;
                @extend %transition-all-zeroFive-sec;
            }

            ul {
                li {
                    a {
                        padding: 0 5px;
                        @extend %transition-all-zeroFive-sec;
                    }
                }
            }
        }
    }

    .leftSection {
        min-width: 180px;

        a {
            display: block;

            img {
                width: 100%;
                max-width: 160px;
                @extend %transition-all-zeroFive-sec;
            }
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;

            a {
                color: $black2;
                display: block;
                font-size: 16px;
                font-family: $fontFamilyMedium;
                padding: 0 5px 10px 5px;
                border-bottom: 2px solid transparent;
                @extend %transition-all-zeroFive-sec;

                &:hover {
                    color: $black2;
                    border-color: $yellow;
                    @extend %transition-all-zeroFive-sec;
                }
            }
        }
    }

    .middleSection {
        ul {
            li {
                margin: 0 10px;

                &:hover {
                    .fullSubMenu {
                        opacity: 1;
                        visibility: visible;
                        top: 0;
                        @extend %transition-all-zeroFive-sec;
                    }
                }
            }
        }
    }

    .rightSection {
        padding: 0 0 12px 0;
        @extend %transition-all-zeroFive-sec;

        ul {
            li {
                margin: 0 0 0 15px;
                vertical-align: text-top;
                @extend %transition-all-zeroFive-sec;

                &:hover {
                    background-color: $yellow;
                    @extend %transition-all-zeroFive-sec;
                }

                a {
                    padding: 5px 5px 0px 5px;
                    min-width: 33px;
                    text-align: center;

                    i {
                        font-size: 22px;
                    }
                }

                &:nth-child(1) {
                    margin: 0;
                }

                &.hasSubMenu {
                    position: relative;

                    .subMenu {
                        position: absolute;
                        background-color: $white;
                        right: 0;
                        width: 420px;
                        border-radius: 0;
                        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
                        top: calc(100% + 30px);
                        opacity: 0;
                        z-index: -1;
                        visibility: hidden;
                        @extend %transition-all-zeroFive-sec;

                        .whiteArrow {
                            position: absolute;
                            bottom: calc(100% - 6px);
                            transform: rotate(180deg);
                            right: -4px;
                            max-width: 33px;
                        }

                        .subMenuHead {
                            display: flex;
                            justify-content: space-between;
                            padding: 20px;
                            align-items: center;

                            h4,
                            a {
                                color: $black2;
                                font-size: 12px;
                                margin: 0;
                                font-family: $fontFamilyBold;
                                letter-spacing: 2.4px;
                            }

                            a {
                                padding: 0;
                                margin: 0;
                                border-color: $black2;
                            }
                        }

                        .subMenuBody {
                            ul {
                                list-style: none;
                                margin: 0;
                                padding: 0;
                                width: 100%;

                                li {
                                    width: 100%;
                                    margin: 0;

                                    &:hover {
                                        background-color: transparent;
                                    }

                                    a {
                                        display: flex;
                                        align-items: center;
                                        padding: 15px 20px;
                                        width: 100%;
                                        text-align: left;
                                        border: none;

                                        .imageHolder {
                                            width: 60px;
                                            flex: 0 0 60px;
                                            height: 60px;

                                            img {
                                                width: 100%;
                                                height: auto;
                                            }
                                        }

                                        .descHolder {
                                            width: calc(100% - 60px);
                                            flex: 0 0 calc(100% - 60px);
                                            padding: 0 0 0 15px;

                                            h3,
                                            h4 {
                                                font-size: 16px;
                                                font-family: $fontFamilyMedium;
                                                color: $black2;
                                                margin: 0;
                                            }

                                            h3 {
                                                margin: 0 0 5px 0;
                                            }
                                        }

                                        &:hover {
                                            border: none;
                                        }
                                    }

                                    &:nth-child(1),
                                    &:nth-child(2n + 1) {
                                        background-color: $lightGrey2;

                                        &:hover {
                                            background-color: $lightGrey2;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &.myAccountBtn {
                        .subMenu {
                            max-width: 190px;

                            .subMenuHead {
                                position: relative;
                                margin: 0 0 5px 0;
                                padding: 16px 15px;

                                h4{
                                    font-family: $fontFamilySemi;
                                    font-size: 15px;
                                    letter-spacing: 1px;
                                }

                                &:after{
                                    content: '';
                                    position: absolute;
                                    background-color: rgba(112,112,112,.24);
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    width: 100%;
                                    max-width: 85%;
                                    height: 1px;
                                    margin: 0 auto;
                                }
                            }

                            .subMenuBody {
                                ul {
                                    li {
                                        &:nth-child(1),
                                        &:nth-child(2n + 1) {
                                            background-color: transparent;
                                        }

                                        a {
                                            padding: 5px 15px;
                                            font-family: $fontFamilySemi;

                                            i {
                                                font-size: 14px;
                                                margin: 0 8px 0 0;
                                            }
                                        }

                                        &.logoutBtn{
                                            a{
                                                background-color: #F8F8F8;
                                                padding: 13px 15px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        .subMenu {
                            top: calc(100% + 15px);
                            opacity: 1;
                            z-index: 2;
                            visibility: visible;
                            @extend %transition-all-zeroFive-sec;
                        }
                    }
                }

                &.hamburgerMenu {
                    display: none;

                    a {
                        width: 25px;
                        height: 18px;
                        display: inline-block;
                        background-image: url("../assets/images/burger-menu.svg");
                        background-repeat: no-repeat;
                        background-size: 100%;
                        padding: 0;
                    }
                }

                &.wishlistBtn {
                    a {
                        position: relative;

                        .counter {
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: $black2;
                            font-size: 10px;
                            font-family: $fontFamilyMedium;
                        }
                    }
                }
            }
        }
    }

    &:not(.otherHeader).scrolling {
        background-color: $white;
        padding: 10px 50px;
        box-shadow: 0px 3px 30px #0000000d;
        @extend %transition-all-zeroFive-sec;

        .leftSection a img {
            max-width: 140px;
            @extend %transition-all-zeroFive-sec;
        }

        .rightSection {
            padding: 0;
            @extend %transition-all-zeroFive-sec;
        }

        ul {
            li {
                a {
                    padding: 0 5px;
                    @extend %transition-all-zeroFive-sec;
                }
            }
        }
    }

    .fullSubMenu {
        position: absolute;
        left: 0;
        top: -40px;
        background-color: $white;
        width: 100%;
        padding: 120px 0 10px 0;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        @extend %transition-all-zeroFive-sec;

        .leftSection {
            ul {
                margin: 0;
                padding: 0;
                display: flex;
                max-width: 70%;
                flex-wrap: wrap;
                list-style: none;

                li {
                    width: calc(100% / 2);
                    margin: 0;

                    a {
                        color: $black2;
                        font-size: 15px;
                        font-family: $fontFamilyMedium;
                        margin: 0 0 15px 0;
                        display: inline-block;
                    }

                    &.sale {
                        a {
                            color: red;
                        }
                    }
                }
            }
        }

        .rightSection {
            text-align: right;

            img {
                width: 100%;
                max-width: 330px;
                height: auto;
            }
        }
    }
}

.fullMobileMenu {
    display: none;
}
