//
// General variables used globally
//
$black: #000000;
$white: #ffffff;
$black2: #1A171E;
$yellow: #FEC512;
$darkGrey: #707070;
$darkGrey3: #525151;
$lightGrey: #F0EFEA;
$lightGrey2: #F8F8F8;
$black3: #1C1C1C;
$lightGrey3: #3B3939;
$lightGrey4: #D1D1D1;
$darkGrey2: #656565;