/*
Description: 1200px Css styles
Developer: Marc bou sleiman
*/
@media (max-width: 1200px) {
    .container{
        max-width: 992px;
    }

    header {
        padding: 30px 15px 0 15px;

        .middleSection {
            ul {
                li {
                    margin: 0 5px;

                    a {
                        font-size: 15px;
                    }
                }
            }
        }

        .leftSection {
            a {
                img {
                    max-width: 140px;
                }
            }
        }

        .rightSection {
            ul {
                li {
                    margin: 0 0 0 6px;

                    a {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .singleArtistPage {
        .columnsWrap {
            .leftSection {
                .innerLeftSection {
                    padding: 130px 0 0 50px;
                }
            }

            .rightSection {
                .innerRightSection {
                    width: 100%;
                    max-width: 80%;
                }
            }
        }
    }

    footer {
        .topPart {
            .eachColumn {
                &.fifthCol {
                    ul {
                        li {
                            margin: 0;

                            a {
                                width: 53px;
                                height: 53px;
                            }
                        }
                    }
                }
            }
        }
    }
}
