/*
Description: 1300px Css styles
Developer: Marc bou sleiman
*/
@media (max-width: 1300px) {
    footer {
        .topPart {
            .eachColumn {
                &.forthhCol {
                    width: 35%;
                    flex: 0 0 35%;
                }

                &.fifthCol {
                    width: 20%;
                    flex: 0 0 20%;

                    ul {
                        li {
                            margin: 0 7px 0 0;
                        }
                    }
                }
            }
        }
    }
}
