/*
Description: 500px Css styles
Developer: Marc bou sleiman
*/
@media (max-width: 576px) {
    header {
        .leftSection {
            a {
                img {
                    max-width: 130px;
                }
            }
        }

        &:not(.otherHeader).scrolling .leftSection a img {
            max-width: 130px;
        }

        &.otherHeader.scrolling .leftSection a img {
            max-width: 130px;
        }
    }

    .container {
        max-width: 100%;
    }

    .generalBtn {
        font-size: 12px;
        line-height: 50px;
        height: 50px;
    }

    .productWrap {
        width: calc(100% / 2);
        flex: 0 0 calc(100% / 2);
    }

    .homepage {
        .categoriesSection {
            padding: 45px 0;
        }
    }

    .informativeSection {
        padding: 15px 0 45px 0;
    }

    .formsPage {
        .innerPage {
            .leftSection {
                .innerLeftSection {
                    max-width: 100%;

                    h1 {
                        font-size: 28px;
                    }

                    form {
                        .fieldWrapper {
                            &.submitWrapper {
                                flex-wrap: wrap;

                                .triggerBtn {
                                    width: calc(100%);
                                }

                                .triggerBtn:nth-child(1) {
                                    margin: 0 0 15px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .withPageIdentifier {
        .pageIdentifier {
            h1 {
                font-size: 30px;
            }
        }
    }

    .artistsPage {
        .artistsSection {
            .categoriesWrapper {
                overflow-x: auto;
                max-height: 32px;
                overflow-y: hidden;
                margin: 30px 0 40px 0;

                &::-webkit-scrollbar {
                    display: none !important;
                }

                ul {
                    text-align: left;
                }
            }

            .artistsWrapper {
                .eachArtistWrap {
                    h3 {
                        font-size: 20px;
                    }

                    h4 {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .singleArtistPage {
        .columnsWrap {
            .leftSection {
                .innerLeftSection {
                    padding: 130px 15px 50px 15px;
                }
            }

            .rightSection {
                .innerRightSection {
                    max-width: calc(100% - 30px);
                }
            }
        }
    }

    .weddingListPage {
        .secondSection {
            .leftSection {
                .innerLeftSection {
                    .sectionTitle {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .singleShopPage {
        .innerPage {
            .topSection {
                .rightSection {
                    .triggerBtn {
                        max-width: 100vw;
                        width: 100vw;
                        margin: 40px 0 0 -15px;
                    }
                }

                .leftSection {
                    .innerLeftSection {
                        .innerInfoHolder {
                            .addToWishList {
                                right: 0;
                            }
                        }
                    }
                }
            }
        }
    }

    .horizontalPoductWrap {
        padding: 15px;

        .imageHolder {
            width: 100%;
            flex: 0 0 100%;
            margin: 0 0 20px 0;
        }

        .descHolder {
            width: calc(100% - 85px);
            flex: 0 0 calc(100% - 85px);
            padding: 0;

            .moreInfo {
                line-height: 20px;
            }
        }

        .priceHolder {
            width: 85px;
            flex: 0 0 85px;
            padding: 0;
        }
    }

    .myOrdersPage {
        .contentSection {
            .rightSection {
                .innerRightSection {
                    max-width: 100%;

                    .eachOrderWrap {
                        .topOrderWrap {
                            padding: 30px 20px 30px 20px;

                            .viewOrderBtn {
                                display: block;
                                margin: 10px 0 25px 0;
                            }

                            .trackOrderBtn {
                                position: relative;
                                top: 0 !important;
                                right: 0;
                                display: inline-block;

                                &.cancelBtn {
                                    display: none;
                                }
                            }
                        }

                        &.opened {
                            .topOrderWrap {
                                .trackOrderBtn.cancelBtn {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .myAccountPages {
        &.addressesPage {
            .contentSection {
                .rightSection {
                    .innerRightSection {
                        .addressesHolder {
                            .eachAddressWrap {
                                padding: 25px 15px 25px 15px;

                                .addressInfo {
                                    max-width: calc(100% - 90px);
                                    flex: 0 0 calc(100% - 90px);

                                    .detailsHolder {
                                        max-width: 100%;
                                        padding: 10px 0 45px 0;
                                    }
                                }

                                .actionsHolder a {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.weddingListInfo {
            .contentSection {
                .rightSection {
                    .innerRightSection {
                        .sectionHeader {
                            ul {
                                width: calc(100%);
                                flex: 0 0 calc(100%);

                                li {
                                    margin: 0 15px 0 0;
                                    padding: 0 15px 0 0;
                                }
                            }

                            .generalBtn {
                                margin: 30px 0 0 0;
                            }
                        }

                        .productsWrapper {
                            .horizontalPoductWrap {
                                &.giftOrder {
                                    .imageHolder {
                                        width: 100%;
                                        flex: 0 0 100%;
                                        margin: 0 0 20px 0;
                                    }

                                    .descHolder {
                                        width: calc(100% - 85px);
                                        flex: 0 0 calc(100% - 85px);
                                        padding: 0;
                                    }

                                    .priceHolder {
                                        width: 85px;
                                        flex: 0 0 85px;
                                        padding: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        form {
            .generalBtn {
                max-width: 100%;
            }
        }
    }

    .checkoutPage{

        &.withPageIdentifier {
            .pageIdentifier {
                .subColumn{
                    &.leftSection {
                        a {
                            img {
                                max-width: 130px;
                            }
                        }
                    }

                    &.middleSection{
                        top: 100%;
                    }
                }
            }
        }
    }

    .generalPopup {
        .innerGeneralPopup {
            .popupTitle {
                font-size: 24px;
                margin: 0 0 26px 0;
            }
        }
    }

    footer {
        .topPart {
            .currencyAndCountry {
                .selectorWrap {
                    select {
                        min-width: 145px;
                    }
                }
            }

            .eachColumn {
                &.fifthCol ul li a {
                    width: 50px;
                    height: 50px;
                }
            }
        }

        .bottomPart {
            display: none;
        }
    }
}

@media (max-width: 500px) {
    header {
        .rightSection {
            ul {
                li {
                    &.hasSubMenu {
                        .subMenu {
                            right: -64px;
                            width: 100vw;

                            .whiteArrow {
                                right: 56px;
                            }
                        }
                    }
                }
            }
        }
    }

    .homepage {
        .topSlider {
            height: 550px;

            .swiper-container {
                .swiper-slide {
                    .innerDescription {
                        padding: 0 20px;

                        h1 {
                            font-size: 26px;
                        }
                    }
                }
            }

            .topSwiperPag {
                left: 20px;
            }
        }

        .categoriesSection {
            .sliderWrapper {
                padding: 0 15px 80px 15px;

                .swiper-container {
                    .swiper-slide {
                        h3 {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .weddingListPage {
        .firstSection {
            height: 100%;
            min-height: 600px;

            .innerFirstSection {
                margin: 100px 0 0 0;
                padding: 0 15px;

                h1 {
                    font-size: 26px;
                    margin: 0 0 20px 0;
                }

                .content {
                    font-size: 15px;
                    line-height: 25px;
                    max-width: 85%;
                }
            }
        }
    }

    .contactUs {
        .innerPage {
            .leftSection {
                .innerLeftSection {
                    h1 {
                        font-size: 29px;
                    }

                    .buttonsHolder {
                        flex-wrap: wrap;

                        a {
                            width: calc(100%);

                            &:nth-child(1) {
                                margin: 0 0 15px 0;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        .topPart {
            .eachColumn {
                &.firstCol,
                &.thirdCol {
                    width: 40%;
                    flex: 0 0 40%;
                }

                &.secondCol,
                &.fifthCol {
                    width: 60%;
                    flex: 0 0 60%;
                }

                &.forthCol {
                    width: 100%;
                    flex: 0 0 100%;
                    order: 5;

                    h3 {
                        margin: 0 0 10px 0;
                    }

                    form {
                        width: 100%;
                    }
                }

                &.fifthCol {
                    order: 4;
                    margin: 0;

                    h3 {
                        margin: 0 0 19px 0;
                    }

                    ul li {
                        margin: 0 10px 0 0;
                        padding: 0;
                    }
                }

                &.secondCol {
                    ul {
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            width: calc(100% / 2);
                            flex: 0 0 calc(100% / 2);
                        }
                    }
                }

                &.firstCol {
                    margin: 0 0 40px 0;
                }

                ul {
                    margin: 15px 0 0 0;

                    li {
                        font-size: 13px;
                        padding: 0 10px 0 0;
                    }
                }
            }

            .currencyAndCountry {
                order: 6;

                .selectorWrap {
                    select {
                        width: 100%;
                    }

                    &:nth-child(2) {
                        margin: 0 0 0 15px;
                    }
                }
            }
        }
    }
}

/*
Description: 400px Css styles
*/
@media (max-width: 400px) {
    .myOrdersPage {
        .contentSection {
            .rightSection {
                .innerRightSection {
                    .eachOrderWrap {
                        .topOrderWrap {
                            .trackOrderBtn {
                                margin: 10px 0 0 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
