/*
Description: 768 Css styles
Developer: Marc bou sleiman
*/
@media (max-width: 768px) {
    .container {
        max-width: 576px;
    }

    .withPageIdentifier {
        .pageIdentifier {
            padding: 105px 0 35px 0;

            h1 {
                font-size: 24px;
            }
        }
    }

    .homepage {
        .sectionTitle {
            font-size: 26px;
            margin: 0 0 35px 0;
        }

        .curatedWeekly {
            .container {
                .sliderWrapper {
                    .swiper-container {
                        .swiper-slide {
                            .leftSection {
                                margin: 0 0 30px 0;
                            }
                        }
                    }
                }

                .curatedWeeklySliderPag {
                    position: relative;
                    top: unset;
                    transform: unset;
                    right: 0;
                    margin: 15px 0 0 0;
                    text-align: center;

                    .swiper-pagination-bullet {
                        display: inline-block;
                        margin: 0 5px;
                    }
                }
            }
        }

        .categoriesSection {
            .sliderWrapper {
                padding: 0 50px 80px 50px;

                .categoriesSwiperNav {
                    bottom: -15px;
                    line-height: 0;

                    &.btnNext {
                        right: calc(50% - 30px);
                    }

                    &.btnPrev {
                        left: calc(50% - 30px);
                    }
                }
            }
        }

        .informativeSection {
            .row {
                .contentHolder {
                    order: 2;

                    .innerContentHolder {
                        max-width: 100%;
                        padding: 20px 0 0 10px;

                        h2 {
                            font-size: 28px;
                            line-height: 35px;
                            margin: 0 0 22px 0;

                            &:before {
                                left: -10px;
                                width: 32px;
                                height: 32px;
                                top: 0;
                            }
                        }
                    }
                }

                .imageHolder {
                    order: 1;
                }
            }
        }

        &.inverted {
            .row {
                .contentHolder {
                    .innerContentHolder {
                        padding: 20px 0 0 10px;
                    }
                }
            }
        }
    }

    .generalBenefitsSection {
        .eachColumn {
            margin: 0 0 35px 0;

            &:nth-last-child(1) {
                margin: 0;
            }
        }
    }

    .productWrap {
        .descHolder {
            h3 {
                font-size: 16px;
            }

            h4 {
                font-size: 14px;
            }
        }
    }

    .informativeSection.centered {
        padding: 0px 0 40px 0;

        .container {
            padding-right: 0;
            padding-left: 0;

            .row {
                .contentHolder {
                    .innerContentHolder {
                        padding: 20px 15px 0 15px;
                    }
                }
            }
        }
    }

    .aboutUsPage {
        &:before {
            display: none;
        }
        .innerPage {
            padding: 50px 0;

            .leftSection {
                order: 2;
                margin: 30px 0 0 0;

                .innerLeftSection {
                    .identifier {
                        margin: 0 0 20px 0;

                        h1 {
                            font-size: 37px;
                            line-height: 38px;
                        }
                    }
                }
            }

            .rightSection {
                order: 1;

                .swiper-container {
                    .swiper-slide {
                        img {
                            width: 100%;
                        }
                    }
                }

                .aboutUsSliderPag {
                    bottom: 10px;
                }
            }
        }
    }

    .singleArtistPage {
        height: 100%;
        overflow: auto;

        .columnsWrap {
            flex-wrap: wrap;

            .rightSection {
                width: 100%;
                flex: 0 0 100%;
                padding: 50px 0 0 0;
                overflow-y: auto;
                max-height: 100%;

                .topWhiteBg {
                    display: none;
                }
            }

            .leftSection {
                width: 100%;
                flex: 0 0 100%;

                .innerLeftSection {
                    padding: 130px 0 50px 50px;

                    .infoWrapper {
                        margin: 60px 0 0 0;
                    }
                }
            }
        }
    }

    .generalPopup {
        .innerGeneralPopup {
            max-width: calc(100% - 30px);
            padding: 50px 15px;
        }
    }

    .weddingListPage {
        .firstSection {
            .innerFirstSection {
                margin: 100px 0 0 20px;

                h1 {
                    font-size: 32px;
                    margin: 0 0 20px 0;
                }

                .content {
                    font-size: 17px;
                }

                a {
                    padding: 18px 50px;
                    font-size: 13px;
                }
            }
        }

        .secondSection {
            .leftSection {
                padding: 0 15px;
                margin: 0 0 30px 0;
            }

            .rightSection {
                padding: 0 15px;
            }
        }

        .informativeSection {
            .row {
                .contentHolder {
                    order: 2;
                }

                .imageHolder {
                    order: 1;
                    margin: 0 0 30px 0;
                }
            }
        }
    }

    .shopPage {
        .contentSection {
            padding: 30px 0;

            .rightSection {
                .sortingWrapper {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row-reverse;

                    h3 {
                        float: none;
                        width: 100%;
                        text-align: left;
                        margin: 0 0 8px 0;
                        margin: 15px 0 0 0;
                        padding: 15px 0 0 0;
                        order: 3;
                    }

                    select,
                    .openFilterPopup {
                        width: calc(100% / 2 - 10px);
                        text-align: center;
                        min-width: auto;
                    }

                    select {
                        text-align-last: center;
                    }

                    .openFilterPopup {
                        margin: 0 20px 0 0;
                        padding: 0 15px;
                    }
                }
            }
        }
    }

    .artistsPage {
        .artistsSection {
            .categoriesWrapper {
                ul {
                    li {
                        margin: 0 12px;

                        a {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .checkoutPage{
        &.withPageIdentifier {
            .pageIdentifier {
                padding: 20px 15px;
                position: relative;

                h1{
                    font-size: 20px;
                }

                .subColumn{
                    width: calc(100% / 2);

                    &.middleSection{
                        background-color: #F8F8F8;
                        position: absolute;
                        top: 90%;
                        left: 0;
                        right: 0;
                        width: 100%;
                        margin: 0 auto;
                    }

                    &.rightSection{
                        h3{
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        &.myBagPage {
            .contentSection {
                .leftSection {
                    .blocksHolder {
                        .innerBlock{
                            .blockTitle {
                                font-size: 18px;
                            }

                            .blockSubTitle{
                                font-size: 16px;
                            }

                            .blockBody {
                                .formHolder {
                                    form {
                                        .fieldWrapper {
                                            label {
                                                font-size: 14px;
                                            }

                                            &.halfed {
                                                width: 100%;

                                                &.first,&.second {
                                                    margin: 0 0 20px 0;
                                                }
                                            }
                                        }
                                    }
                                }

                                .addressesHolder {
                                    .eachAddressWrap {
                                        .addressInfo {
                                            max-width: 90%;
                                            flex: 0 0 90%;

                                            .detailsHolder{
                                                padding: 0 0 0 10px;
                                                
                                                h4 {
                                                    font-size: 13px;
                                                    margin: 0px 0 3px 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &.paymentMethod{
                                .detailsHolder{
                                    img{
                                        width: 100%;
                                        max-width: 150px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
600px Css styles
*/
@media (max-width: 600px) {
}
