/*
Description: 992px Css styles
Developer: Marc bou sleiman
*/
@media (max-width: 992px) {
    .container {
        max-width: 768px;
    }

    header {
        padding: 20px 15px 0 15px;

        &:not(.otherHeader) {
            &.scrolling {
                padding: 10px 15px;

                .rightSection {
                    margin: 4px 0 0 0;

                    ul {
                        li.hamburgerMenu {
                            a {
                                margin: 4px 0 0 0;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }

        &.otherHeader {
            padding: 18px 15px;

            &.scrolling {
                padding: 12px 15px;

                .rightSection {
                    transform: translateY(4px);

                    ul {
                        li.hamburgerMenu {
                            a {
                                margin: 4px 0 0 0;
                                height: 24px;
                            }
                        }
                    }
                }
            }
        }

        .middleSection {
            display: none;
        }

        .rightSection {
            ul {
                li {
                    &.myAccountBtn,
                    &.wishlistBtn {
                        display: none;
                    }

                    &.hamburgerMenu {
                        display: inline-block;
                        margin: 0 0 0 20px;
                        vertical-align: top;

                        a {
                            margin: 9px 0 0 0;
                            width: 25px;
                            min-width: 25px;
                            border: none;
                            height: 28px;
                        }

                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }

    .fullMobileMenu {
        display: none;
        z-index: 99;
        padding: 90px 0 0 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        background-color: $lightGrey2;

        &:before {
            content: "";
            position: absolute;
            width: calc(100% - 40px);
            top: 90px;
            left: 0;
            right: 0;
            height: 1px;
            margin: 0 auto;
            background-color: #e6e6e6;
        }

        .menuList {
            padding: 0 20px 40px 20px;
            margin: 20px 0 0 0;
            list-style: none;
            min-height: calc(100vh - 240px);

            li {
                color: $black2;
                font-size: 20px;
                font-family: $fontFamilyMedium;
                margin: 0 0 15px 0;

                a {
                    color: $black2;
                }

                &.hasSubMenu {
                    a {
                        i {
                            margin: 0 0 0 5px;
                            -webkit-transition: all 0.5s;
                            -moz-transition: all 0.5s;
                            -o-transition: all 0.5s;
                            transition: all 0.5s;
                        }
                    }

                    &.opened {
                        a {
                            i {
                                transform: rotate(180deg);
                                -webkit-transition: all 0.5s;
                                -moz-transition: all 0.5s;
                                -o-transition: all 0.5s;
                                transition: all 0.5s;
                            }
                        }
                    }

                    ul {
                        list-style: none;
                        padding: 0 0 0 15px;
                        margin: 10px 0 0 0;
                        display: none;

                        li {
                            font-size: 18px;
                            margin: 0 0 6px 0;

                            &.sale {
                                a {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }

        .socialMediaWrapper {
            width: 100%;
            padding: 22px 20px;
            background-color: $black2;

            h3 {
                padding: 0;
                margin: 0 0 20px 0;
                font-size: 14px;
                color: $white;
                letter-spacing: 2.4px;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: inline-block;

                li {
                    display: inline-block;
                    margin: 0 15px 0 0;

                    &:nth-last-child(1) {
                        margin: 0;
                    }

                    a {
                        width: 50px;
                        height: 50px;
                        border: 1px solid rgba(255, 255, 255, 0.19);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $yellow;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .mobileMenuOpened {
        header {
            background-color: $lightGrey2;

            .rightSection {
                ul {
                    li {
                        &.hamburgerMenu {
                            background-color: transparent;

                            a {
                                background-image: url("../assets/images/x-icon.svg");
                                background-size: 18px;
                            }
                        }
                    }
                }
            }

            &:not(.otherHeader).scrolling {
                padding: 30px 15px 0px 15px;
                box-shadow: none;
                background-color: $lightGrey2;
            }

            &.scrolling {
                padding: 30px 15px 0px 15px;
                box-shadow: none;
                background-color: $lightGrey2;
            }
        }
    }

    .formsPage {
        .innerPage {
            .rightSection {
                display: none;
            }
        }
    }

    .shopPage {
        .contentSection {
            .leftSection {
                position: fixed;
                top: 0;
                padding: 30px 20px 105px 20px;
                left: 0;
                height: 100%;
                flex: 0 0 100%;
                width: 100%;
                max-width: 100%;
                background-color: $lightGrey2;
                z-index: 9999;
                display: none;

                .sectionTitle {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                    padding: 0 0 25px 0;
                }

                .closeFilterPopup {
                    display: block;
                    color: $black2;
                    font-size: 24px;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                }

                .btnsHolder {
                    display: flex;
                    position: absolute;
                    background-color: $lightGrey2;
                    padding: 15px 0 20px 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    width: calc(100% - 40px);

                    .triggerBtn:nth-child(2) {
                        position: relative;
                        right: 0;
                        top: 0;
                    }
                }

                .eachFilterHolder {
                    .filterHolderHead {
                        h4{
                            font-size: 18px;
                        }
                    }
                }
            }

            .rightSection {
                padding: 0 15px;

                .sortingWrapper {
                    .openFilterPopup {
                        float: right;
                        display: inline-block;
                        height: 50px;
                        color: $black2;
                        line-height: 50px;
                        margin: 0 10px 0 0;
                        font-size: 14px;
                        padding: 0 59px;
                        border: 1px solid #bababa;
                    }
                }
            }
        }
    }

    .contactUs {
        &:before {
            display: none;
        }

        .innerPage {
            .leftSection {
                margin: 0 0 30px 0;

                .innerLeftSection {
                    max-width: 100%;

                    ul {
                        max-width: 100%;
                    }
                }
            }

            .rightSection {
                img {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    .singleShopPage {
        .innerPage {
            .topSection {
                padding: 0px 0 50px 0;

                &:before {
                    display: none;
                }

                .rightSection {
                    order: 1;
                    padding: 120px 15px 0 15px;
                    background-color: #f8f8f8;

                    .triggerBtn,
                    .backBtn {
                        display: block;
                    }

                    .backBtn {
                        text-align: left;
                        margin: 0 0 30px 0;
                    }

                    .triggerBtn {
                        max-width: 100%;
                        margin: 40px 0 0 0;
                    }

                    .innerRightSection {
                        max-width: 100%;

                        .swiper-container {
                            &.singleGallery,
                            &.singleGalleryThumbs {
                                width: 100%;
                                flex: 0 0 100%;
                            }

                            &.singleGallery {
                                margin: 0 0 30px 0;
                            }
                        }
                    }
                }

                .leftSection {
                    order: 2;

                    .backBtn,
                    .innerLeftSection .innerInfoHolder .triggerBtn {
                        display: none;
                    }

                    .innerLeftSection {
                        .innerInfoHolder {
                            padding: 0;
                            margin: 35px 0 0 0;

                            .moreInfo {
                                max-width: 100%;
                                border-top: 1px solid #d5d5d5;
                                padding: 35px 0 0 0;
                            }
                        }
                    }
                }
            }

            .mightAlsoLikeSection {
                padding: 60px 0;
            }
        }
    }

    .myBagPage {
        .contentSection {
            .leftSection,
            .rightSection {
                padding: 0 15px;
            }

            .leftSection {
                margin: 0 0 40px 0;
            }
        }
    }

    .myAccountPages {
        .contentSection {
            padding: 30px 0 50px 0;

            .leftSection {
                margin: 0 0 15px 0;
                padding: 0 15px 15px 15px;

                .innerLeftSection {
                    width: 100%;
                    max-width: 500px;

                    &.active {
                        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
                    }
                }

                .userName,
                .pageName {
                    display: block;
                }

                .userName {
                    font-size: 15px;
                    color: #393939;
                    margin: 0 0 15px 0;
                    font-family: $fontFamilySemi;
                }

                .pageName {
                    font-size: 14px;
                    color: $white;
                    background-color: $black2;
                    font-family: $fontFamilySemi;
                    position: relative;
                    letter-spacing: 2.5px;
                    border: 1px solid $black2;
                    padding: 15px;
                    margin: 0;

                    i {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 15px;
                        color: $white;
                        font-size: 14px;
                    }
                }

                ul {
                    border-left: 1px solid #bababa;
                    border-right: 1px solid #bababa;
                    border-bottom: 1px solid #bababa;
                    padding: 5px 0;
                    display: none;

                    li {
                        padding: 5px 15px;
                        margin: 0;

                        a {
                            display: block;
                            font-size: 14px;
                        }

                        &.active {
                            &:before {
                                display: none;
                            }

                            a {
                                border: none;
                            }

                            i.fa-check{
                                display: block;
                            }
                        }
                    }
                }
            }

            .rightSection{
                .innerRightSection .sectionTitle{
                    display: none;
                }
            }
        }
    }

    footer {
        .topPart {
            flex-wrap: wrap;
            padding: 50px 15px 30px 15px;

            .eachColumn {
                &.firstCol,
                &.secondCol,
                &.thirdCol {
                    width: 33%;
                    flex: 0 0 33%;
                }

                &.forthCol,
                &.fifthCol {
                    margin: 40px 0 0 0;
                    width: 50%;
                    flex: 0 0 50%;
                }
            }

            .currencyAndCountry {
                margin: 40px 0 0 0;
                position: relative;
                right: 0;
                width: 100%;
                justify-content: flex-start;
            }
        }
    }
}
